.header{
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 100;
  border-bottom: 1px solid #f1f1f1;
}
.left-section{
  display: flex;
  align-items: center;
  gap: 16px;
}
.middle-section{
  flex: 1;
  max-width: 600px;
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 10px;
}
.right-section{
  display: flex;
  align-items: center;
  gap:15px;
  flex-shrink: 0;
}
.menu{
  height: 24px;
  margin-left: 20px;
  border: none;
  background-color: white;
  appearance: none;
  cursor: pointer;
}
.menu-icon{
  height: 20px;
  width: 24px;
  display: block;

}
.ytb-logo{
  height: 30px;
  object-fit: contain;
  cursor: pointer;
  display: block;
  position: relative;
  top: 4px;
}
.search-bar{
  flex: 1;
  height: 40px;
  border:1px solid grey;
  border-radius: 40px 0 0 40px;
  border-right: none;
  padding-left: 16px;
  font-family: "Roboto" , Arial;
  font-size: 16px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder{
  font-family: "Roboto", Arial;
  font-size: 16px;
  padding-left: 10px;

}
.search-button{
  height: 40px;
  width: 64px;
  border: 1px solid grey;
  border-left: none;
  border-radius: 0 40px 40px 0;
  background-color: white;
  cursor: pointer;

}
.search-icon{
  height: 25px;
  margin-top: 3px;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  margin-top: 4px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: rgb(231, 224, 224);
  display: flex;
  align-items: center;
}
.upload{
  height: 25px;
  margin-right: 20px;
  cursor: pointer;

}
.notification{
  height: 25px;
  margin-right: 20px;
  cursor: pointer;
}
.profile-pic{
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header {
    padding: 0 15px;
  }
  
  .left-section {
    gap: 10px;
  }
  
  .menu {
    display: block;
  }
  
  
  .right-section {
    gap: 10px;
  }
  
  .search-bar{
    display: flex;
    align-items: center;
    width: auto;
  }
  .search-button{
    display: block;
    border:1px solid grey;
    
  }
  .video-grid{
    width: fit-content;
  }
}
@media (max-width : 767px){
  .search-bar{
    display: none;
  }
    .search-button{
    border: 0;

    
  }
  .notification{
    display: none;
    margin:0;
  }
    .voice-search-button {
    display: none;
  }


}
